<section class="my-5">
  <div class="container">
    <div class="form-container m-auto p-3 rounded rounded-4">
      <div class="form-head mb-4">
        @if (step == 1) {
        <h2 class="input-main fw-bold">Email Verify</h2>
        }@else if (step == 2) {
        <h2 class="input-main fw-bold">OTP verification</h2>
        }@else {
        <h2 class="input-main fw-bold">Reset Password</h2>
        }
      </div>
      <div class="form-body">
        @if (step == 1) {
        <form [formGroup]="emailCheckForm" (ngSubmit)="verifyEmail()">
          <div class="my-2">
            <label class="mb-2" for="email">email</label>
            <input
              class="form-control"
              formControlName="email"
              type="email"
              id="email"
              placeholder="Enter Your email"
            />

            @if (emailCheckForm.get('email')?.errors &&
            emailCheckForm.get('email')?.touched) {
            <div class="alert alert-danger">
              @if (emailCheckForm.get('email')?.getError('required')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Email is required
                !
              </p>
              } @else if (emailCheckForm.get('email')?.getError('email')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Enter Vaild Email
                !
              </p>
              }
            </div>
            }
          </div>
          <button
            [disabled]="emailCheckForm.invalid || isLoading"
            class="btn-main mb-2 d-flex gap-2"
          >
            Send code @if (isLoading) {
            <span><i class="fa fa-spin fa-spinner"></i></span>
            }
          </button>
        </form>
        }@else if (step == 2) {
        <form [formGroup]="codeCheckForm" (ngSubmit)="verifyCode()">
          <div class="mb-3">
            <label class="fa-xs mb-3" for="otp">Enter OPT sent to your email : <span class="text-main">{{email}}</span></label>
            <p-inputotp
            
              id="otp"
              [length]="6"
              formControlName="resetCode"
              size="large"
            />

            @if (codeCheckForm.get('resetCode')?.errors &&
            codeCheckForm.get('resetCode')?.touched) {
            <div class="alert alert-danger">
              @if (codeCheckForm.get('resetCode')?.getError('required')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> OPT is required !
              </p>
              } @else if (codeCheckForm.get('resetCode')?.getError('pattern')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> OPT Not Valid !
              </p>
              }
            </div>
            }
          </div>
          <div class="d-flex gap-2">
            <button
            [disabled]="codeCheckForm.invalid || isLoading"
            class="btn-main mb-2 d-flex gap-2"
          >
            Check code @if (isLoading) {
            <span><i class="fa fa-spin fa-spinner"></i></span>
            }
          </button>
          </div>

        </form>

        }@else {
        <form [formGroup]="resetCheckForm" (ngSubmit)="resetPass()">
          <div class="my-2">
            <label class="mb-2" for="email2">Email</label>
            <input
            readonly
              class="form-control"
              formControlName="email"
              type="email"
              id="email2"
              placeholder="Enter Your email"
            />

            @if (resetCheckForm.get('email')?.errors &&
            resetCheckForm.get('email')?.touched) {
            <div class="alert alert-danger">
              @if (resetCheckForm.get('email')?.getError('required')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Email is required
                !
              </p>
              } @else if (resetCheckForm.get('email')?.getError('email')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Enter Vaild Email
                !
              </p>
              }
            </div>
            }
          </div>
          <div class="my-2">
            <label class="mb-2" for="newPassword">New Password</label>
            <input
              class="form-control"
              formControlName="newPassword"
              type="password"
              id="newPassword"
              placeholder="Enter Your email"
            />

            @if (resetCheckForm.get('newPassword')?.errors &&
            resetCheckForm.get('newPassword')?.touched) {
            <div class="alert alert-danger">
              @if (resetCheckForm.get('newPassword')?.getError('required')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Password is
                required !
              </p>
              } @else if
              (resetCheckForm.get('newPassword')?.getError('pattern')) {
              <p class="m-0">
                <i class="fa-solid fa-circle-exclamation"></i> Enter Vaild
                Password !
              </p>
              }
            </div>
            }
          </div>
          <button
            [disabled]="resetCheckForm.invalid || isLoading"
            class="btn-main mb-2 d-flex gap-2"
          >
            Send code @if (isLoading) {
            <span><i class="fa fa-spin fa-spinner"></i></span>
            }
          </button>
        </form>
        }
        @if (msgError != null) {
            <p class="ms-auto alert alert-danger text-center">{{ msgError }}</p>
            }
      </div>
    </div>
  </div>
</section>
