<nav class="border-bottom">
  <div class="container">
    <div
      class="nav-content d-flex align-items-center justify-content-between py-3"
    >
      <div class="logo cursor-pointer">
        <a routerLink="home">
          <img src="./assets/svgs/freshcart-logo.svg" alt="FreshCart-Logo"
        /></a>
      </div>
      <div class="navigation-list">
        <ul class="list-unstyled d-flex align-items-center gap-4">
          <li class="cursor-pointer">
            <a routerLink="login" routerLinkActive="active-link">Login</a>
          </li>
          <li class="cursor-pointer">
            <a routerLink="register" routerLinkActive="active-link">register</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
