  <nav class="border-bottom">
  <div class="container">
    <div class="upper d-flex align-items-center justify-content-between py-3">
      <div class="search d-flex">
        <div class="icon d-flex align-items-center">
          <a routerLink="home"><img
            src="../../assets/svgs/freshcart-logo.svg"
            alt="FreshCart-Logo"
          /></a>
        </div>
        <div class="search d-flex gap-2">
          <div class="position-relative">
            <input
              class="search-bar items-border m-0"
              type="search"
              placeholder="Search for products"
            />
            <span
              ><button class="search-btn items-border">
                <i class="fa-solid fa-magnifying-glass"></i></button
            ></span>
          </div>
          <button class="items-border">
            <i class="pi pi-map-marker"></i> Location
          </button>
        </div>
      </div>
      <div class="icon-links">
        <ul class="list-unstyled d-flex align-items-center">
          <li class="mx-2 fs-5">
            <a routerLink="wishlist"
              ><i class="pi pi-heart"><span>5</span></i></a
            >
          </li>
          <li class="mx-2 fs-5">
            <a routerLink="cart"
              ><i class="pi pi-shopping-cart"><span>1</span></i></a
            >
          </li>
          <li class="mx-2 fs-5 position-relative">
            <a (click)="menu.toggle($event)" class="cursor-pointer"><i class="pi pi-user"></i></a>
            <p-menu #menu [model]="items" styleClass="menu" [popup]="true" />
          </li>
        </ul>
      </div>
    </div>
    <div class="lower d-flex align-items-center gap-4">
      <button class="items-border px-3 py-2">
        <i class="pi pi-bars px-2"></i> All Categories
      </button>
      <div class="list">
        <ul class="list-unstyled d-flex align-items-center gap-4">
          <li>
            <a
              class="d-flex align-items-center gap-2"
              routerLinkActive="active-link"
              routerLink="home"
              >Home</a>
          </li>
          <li>
            <a
              class="d-flex align-items-center gap-2"
              routerLinkActive="active-link"
              routerLink="shop"
              >Shop</a>
          </li>
          <li>
            <a
              class="d-flex align-items-center gap-2"
              routerLinkActive="active-link"
              routerLink="cart"
              >Cart</a>
          </li>
          <li>
            <a
              class="d-flex align-items-center gap-2"
              routerLinkActive="active-link"
              routerLink="wishlist"
              >Wishlist</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
