nav{
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    transition: var(--transition);
    &.scrolled {
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.075)
      }
}
.icon:nth-child(1){
    margin-right: 60px;
}
.search{
    position: relative;
}
.search-bar{
    padding: .55rem 1rem;
    font-size: .9rem;
    color: var(--font-color);
    font-weight: var(--font-weight);
    transition: var(--transition);

}

.search-bar::placeholder {
    color:var(--font-color);
    opacity: 1;  
}

.search span{
    position: absolute;
    border: 0;
    right: 0;
    top: 0;
    button{
        border: 0;
        border-radius: 0 8px 8px 0;
        background-color: transparent;
    }
}

.search button{
    color: var(--font-color);
    padding: .55rem 1rem;
    background-color: #FFF;
    transition: var(--transition);
    i{
        margin-right: .55rem;
    }
}
.search button:hover{
    background-color: #C1C7C6;
    
}

ul li i{
    font-size: 12px;
}

.icon-links ul li a {
    color: var(--font-color);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-links ul li a i {
    font-size: 1.25rem;
}

.icon-links ul li a span {
    background-color: var(--main-color);
    color: #FFF;
    font-size: 0.65rem;
    min-width: 1.15rem;
    height: 1.1rem;
    border-radius: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -0.15rem;
    right: -0.15rem;
    padding: 0.15rem;
    font-family: var(--font-family);
    font-weight: var(--font-weight);
}


.meun-button{
    cursor: pointer;
    display: flex;
    img{
        width: 30px;
        height: auto;
    }
}


@media (max-width: 576px) {
.icon{
    img{
        width: 120px;
    }
}
}