<nav class="border-bottom" [class.scrolled]="hasScrolled">
  <div class="container-fluid px-3 px-sm-4">
    <div
      class="upper d-flex align-items-center justify-content-between py-3 gap-sm-5"
    >
      <div class="search d-flex flex-sm-grow-1 flex-grow-0">
        <div class="meun-button me-sm-2 me-1">
          <img
            (click)="Visible(1)"
            class=""
            src="../../../assets/svgs/menu.svg"
            alt=""
          />
        </div>
        <div
          routerLink="/home"
          class="icon d-flex align-items-center my-auto cursor-pointer d-none d-sm-block me-5"
        >
          <a
            ><img
              src="../../assets/svgs/freshcart-logo.svg"
              alt="FreshCart-Logo"
          /></a>
        </div>
        <div class="search-contianer w-50 gap-2 d-none d-lg-flex">
          <div class="position-relative flex-grow-1">
            <input
              class="search-bar items-border m-0 w-100"
              type="search"
              placeholder="Search for products"
            />
            <span
              ><button class="search-btn items-border">
                <i class="fa-solid fa-magnifying-glass"></i></button
            ></span>
          </div>
        </div>
      </div>
      <div
      routerLink="/home"
      class="icon ms-4 d-flex align-items-center cursor-pointer d-sm-none d-block"
    >
      <a
        ><img
          src="../../assets/svgs/freshcart-logo.svg"
          alt="FreshCart-Logo"
      /></a>
    </div>
      <div class="icon-links">
        <ul class="list-unstyled d-flex align-items-center">
          <li class="mx-sm-2 mx-1  d-sm-block d-none">
            <a class="p-1 p-sm-2 " routerLink="wishlist"
              ><i class="pi pi-heart"
                ><span>{{ wishCount }}</span></i
              ></a
            >
          </li>

          <li class="mx-sm-2 mx-1  position-relative">
            <a  class="p-1 p-sm-2 "(click)="menu.toggle($event)" class="cursor-pointer"
              ><i class="pi pi-user"></i
            ></a>
            <p-menu #menu [model]="items" styleClass="menu" [popup]="true" />
          </li>
          <li class="mx-sm-2 mx-1 ">
            <a class="p-1 p-sm-2 " routerLink="cart"
              ><i class="pi pi-shopping-cart"
                ><span>{{ cartCount }}</span></i
              ></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<p-drawer
  [(visible)]="visible"
  [style]="{ width: '24rem' }"
  styleClass="drawer"
  [showCloseIcon]="false"
  blockScroll="false"
>
  <ng-template styleClass="header-side-nav" pTemplate="header">
    <div class="d-flex justify-content-between">
      <div class="icon d-flex align-items-center">
        <a routerLink="home"
          ><img
            width="150px"
            src="../../assets/svgs/freshcart-logo.svg"
            alt="FreshCart-Logo"
        /></a>
      </div>
      <button (click)="Visible(0)"><i class="pi pi-times"></i></button>
    </div>
  </ng-template>
  <div class="d-flex flex-column h-100 position-relative">
    <!-- Main Content (Scrollable) -->
    <div class="flex-grow-1 overflow-auto">
      <!-- Allows scrolling if content overflows -->
      <div class="search d-flex gap-2 w-100 my-2">
        <div class="position-relative w-100">
          <input
            class="search-bar w-100 items-border m-0"
            type="search"
            placeholder="Search for products"
          />
          <span>
            <button class="search-btn items-border">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </span>
        </div>
      </div>
      <button
        routerLink="/shop"
        class="items-border px-3 py-2 btn-main text-white w-100 mb-2"
      >
        <i class="pi pi-bars px-2"></i> All Categories
      </button>
      <div class="list">
        <ul class="list-unstyled d-flex flex-column align-items-center gap-3">
          <li
            (click)="navigate('home')"
            routerLinkActive="active-link"
            class="border-bottom d-flex w-100 justify-content-between py-2 align-items-center"
          >
            <a class="d-flex align-items-center" routerLinkActive="active-link"
              >Home</a
            >
            <i class="pi pi-chevron-right"></i>
          </li>
          <li
            (click)="navigate('shop')"
            routerLinkActive="active-link"
            class="border-bottom d-flex w-100 justify-content-between py-2 align-items-center"
          >
            <a class="d-flex align-items-center" routerLinkActive="active-link"
              >Shop</a
            >
            <i class="pi pi-chevron-right"></i>
          </li>
          <li
            (click)="navigate('cart')"
            routerLinkActive="active-link"
            class="border-bottom d-flex w-100 justify-content-between py-2 align-items-center"
          >
            <a class="d-flex align-items-center" routerLinkActive="active-link"
              >Cart</a
            >
            <i class="pi pi-chevron-right"></i>
          </li>
          <li
            (click)="navigate('wishlist')"
            routerLinkActive="active-link"
            class="border-bottom d-flex w-100 justify-content-between py-2 align-items-center"
          >
            <a class="d-flex align-items-center" routerLinkActive="active-link"
              >Wishlist</a
            >
            <i class="pi pi-chevron-right"></i>
          </li>
          <li
            (click)="navigate('allorders')"
            routerLinkActive="active-link"
            class="border-bottom d-flex w-100 justify-content-between py-2 align-items-center"
          >
            <a class="d-flex align-items-center" routerLinkActive="active-link"
              >My Orders</a
            >
            <i class="pi pi-chevron-right"></i>
          </li>
        </ul>
      </div>
    </div>

    <div class="bottom-container mt-auto w-100 pt-3 d-flex flex-column gap-3">
      <div
        (click)="navigate('account')"
        class="account d-flex justify-content-between align-items-center"
      >
        <div class="img-container">
          <img
            class="w-100"
            src="../../../assets/images/userPlaceholder.jpg"
            alt="user-place-holder"
          />
        </div>
        <h6 class="m-0">{{ userName }}</h6>
      </div>
      <button
        (click)="logout()"
        *ngIf="logedIn"
        class="btn btn-danger px-3 py-2 text-white w-100 d-flex justify-content-between align-items-center"
      >
        logout @if (isLoading) {
        <i class="fa fa-spin fa-spinner"></i>
        }@else {
        <i class="pi pi-sign-out px-2"></i>
        }
      </button>
    </div>
  </div>
</p-drawer>
