/* You can add global styles to this file, and also import other style files */
@use "../src/styles/primeNG";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";


:root {
  --main-color: #0aad0a;
  --sec-text-color:#001e2b;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Inter", sans-serif;
  --font-color:rgba(92, 108, 117, 0.75);
  --rating-color: #ffc908;
  --border-color:#dfe2e1;
  --font-weight : 500;
  --transition:all .2s ;
}

body {
  font-family: var(--font-family) !important;
}
section{
  padding: 40px 0;
}


ul{
    margin: 0;
}
.nav-link {
  transition: unset !important;
}
.active-link {
  color: var(--main-color);
}
.active-link:hover{
  color: var(--main-color);
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
.bg-main{
  background-color: var(--main-color);
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 10px;
  border: solid 1px var(--border-color);
  transition: var(--transition);
  overflow: hidden;
}

.product{
  .btns{
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    top: 30px;
    right: 0px;
    opacity: 0;
    transition: var(--transition);
    i{
      background-color: #fff;
      padding: 10px ;
      margin: 0;
      border-radius: 10px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.12);
      font-size: 14px;
      transition: var(--transition);
    }
  }
  &:hover .btns{
    opacity: 1;
    transform: translateX(-30px);
    i:hover{
      background-color: var(--main-color);
      color: #FFF;
    }
  }
  .product-img{
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: .75rem;
    transition: var(--transition);
    &:hover{
      border: 1px solid var(--border-color);
    }
    &:hover img {
      transform: scale(1.2);
    }
    &:hover .img-fade {
      transform: translateY(100%);
    }
    img{
      width: auto;
      transform: scale(1.1);
      transition: var(--transition);
      object-fit: cover;
      max-width: 100%;
    }
    .img-fade{
      transition: all .5s;
      position: absolute;
      height: 70px;
      width: 100%;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, white,rgba(255, 255, 255, 0.455), transparent);
    }
  }
  .product-details{
    h4:nth-child(1){
      font-size: 12px;
      opacity: 70%;
      margin: 0;
    }
    h4:nth-child(2){
      font-size: 1rem;
      color: #001E2B;
      font-weight: 700;
      white-space: nowrap; /* Prevents the text from wrapping to the next line */
      overflow: hidden;    /* Hides any content that overflows the element's box */
      text-overflow: ellipsis;
    }
    .price{
      color: #001E2B;
      font-weight: 600;
      span{
        font-weight: 400;
      color: rgba(150, 150, 150, 0.607);
      font-size: 12px;
      }
    }
    button{
      padding: 5px 8px !important;
      font-size: 12px;
      background-color: var(--main-color);
      &:hover{
      background-color: #0d850d;
      }
    }
  }
}

.text-main {
  color: var(--main-color);
}
.text-sec {
  color: var(--sec-text-color);
}


.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.btn-secondary-main {
  background-color: transparent;
  padding: 7px 20px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--transition);
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #147c14;
}

.btn-secondary{
  background-color: transparent;
  padding: 7px 10px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  color: var(--main-color);
  cursor: pointer;
  transition: var(--transition);
  &:hover{
  color: #FFF;
  background-color: var(--main-color);
  }
}
.header{
  h1{
      font-size: 35px;
      color: #21313C;
      font-weight: 700;
  }
}
.btn-secondary:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.container{
    padding: 0 15px !important;
}
.section-title {
  font-size: 25px;
  color: #001e2b;
  font-weight: 600;
  margin: 0;
}
.items-border{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--border-color);
}

button{
    font-weight: var(--font-weight);
    font-size: 14px;
    
}

// Login & Register shared Styles

.input-main{
  color: #21313C  ;
}
label{
  color: #21313ccb;
  margin-bottom: 5px;
  font-size: 14px !important;
  font-weight: 500;
}
input{
  color: var(--font-color);
  font-size: .9rem;
  margin-bottom: 5px !important;
}
textarea{
  color: var(--font-color);
  font-size: .9rem;
  margin-bottom: 5px !important;
  max-height: 150px;
}

input::placeholder,textarea::placeholder{
  color: rgb(136, 147, 151) !important;
  font-size: 14px !important;
  transition: var(--transition);
}
select{
  transition: var(--transition);
  font-size: 14px !important;
}
input:focus , select:focus, textarea:focus{
outline: none;  
border: 1px solid var(--main-color) ;
box-shadow: 0 0 0 4px rgba(#0aad0a, 0.3) !important;
}
.invalid-focus {
  outline: none;  
  border: 1px solid var red !important;
  box-shadow: 0 0 0 4px rgba(#ad0a0ac3, 0.3) !important;
  }
input:focus::placeholder{
  opacity: 0;
}
.form-container{
  min-width: 300px;
  max-width: 500px;
}

.bread-crumb {
  max-width: 100%;
  overflow: hidden;
}

.bread-crumb p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500 !important;
  font-size: 14px !important;
  color: #88939ac7 !important;
}


/* For mobile devices */
@media (max-width: 420px) {
  .bread-crumb p {
    flex-wrap: nowrap;
  }
  
  .text-truncate {
    max-width: 80px; /* Smaller max-width for mobile */
  }
}
p{
  font-size: .8rem !important;
  margin: 0 !important;
}
span a{
  color: var(--main-color) !important;
}
.alert{
  padding: 5px !important;
}
// --------
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.quantity{
  overflow: hidden;
  span,button{
    background-color: #fff;
    border: 1px solid var(--border-color);
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    i{
      font-size: 10px;
    }
  }
  .disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }
  span:first-child{
    border-radius: 5px 0 0 5px;
  }
  span:last-child{
    border-radius: 0 5px 5px 0;
  }
}



.pagination {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  .current{
    background-color: var(--main-color) !important;
  }
  .ngx-pagination{
    display: flex;
    gap: 10px !important;
  }
  .ng-star-inserted:not(:first-child):not(:last-child) {
    border: 1px solid var(--border-color);
    border-radius: 5px;
  }
}
