/* You can add global styles to this file, and also import other style files */
@use "../src/styles/primeNG";
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "primeicons/primeicons.css";


:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Inter", sans-serif;
  --font-color:rgba(92, 108, 117, 0.75);
  --rating-color: #ffc908;
  --border-color:rgba(168, 168, 168, 0.544);
  --font-weight : 500;
  --transition:all .2s ;
}

body {
  font-family: var(--font-family) !important;
}
section{
  padding: 40px 0;
}
ul{
    margin: 0;
}
.nav-link {
  transition: unset !important;
}
.active-link {
  color: var(--main-color);
}
.active-link:hover{
  color: var(--main-color);
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product {
  border-radius: 10px;
  border: solid 1px var(--border-color);
  transition: var(--transition);
  overflow: hidden;
}

.product:hover {
  border: solid 1px var(--main-color);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.text-main {
  color: var(--main-color);
}


.btn-main {
  background-color: var(--main-color);
  padding: 7px 20px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: var(--transition);
}
.btn-main:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.btn-main:disabled:hover {
  background-color: #ccc;
}
.btn-main:hover {
  background-color: #147c14;
}

.btn-secondary{
  background-color: transparent;
  padding: 7px 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: #000;
  cursor: pointer;
  transition: var(--transition);
}
.btn-secondary:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}
.container{
    padding: 0 15px !important;
}
.section-title {
  font-size: 25px;
  color: #001e2b;
  font-weight: 600;
  margin: 0;
}
.items-border{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    color: var(--border-color);
}

button{
    font-weight: var(--font-weight);
    font-size: 14px;
    
}

// Login & Register shared Styles

.input-main{
  color: #21313C  ;
}
label{
  color: #21313ccb;
  margin-bottom: 5px;
}
input{
  color: var(--font-color);
  font-size: .9rem;
  margin-bottom: 5px !important;
}
input::placeholder{
  color: rgba(176, 176, 176, 0.717) !important;
  font-size: 12px;
  transition: var(--transition);
}
input:focus {
outline: none;  
border: 1px solid var(--main-color) ;
box-shadow: 0 0 0 4px rgba(#0aad0a, 0.3) !important;
}
.invalid-focus {
  outline: none;  
  border: 1px solid var red !important;
  box-shadow: 0 0 0 4px rgba(#ad0a0ac3, 0.3) !important;
  }
input:focus::placeholder{
  opacity: 0;
}
.form-container{
  min-width: 300px;
  max-width: 500px;
}

p{
  font-size: .8rem !important;
}
span a{
  color: var(--main-color) !important;
}
.alert{
  padding: 5px !important;
}
// --------
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
